extends layout

block content
  script.
  h1= title
  div(class="container.fluid")
    div(class="row")
      div(class="col-sm col1")
        h3 Syötä tehtävä
        form#formcreatetask(method="post",action="/addtask")
          input#formtask(type="text", placeholder="Tehtävä", name="task" maxlength="200" required)
          button#formsubmit(type="submit") Create
            .container-fluid
          textarea(rows=3 name="textarea" maxlength="500" placeholder="Lisätiedot").form-control
            | 
          div(class="select_box_area")
            p(class="select")
              span(class="placeholder")
                h6 Tärkeys
              em(class="fa fa-angle-down")
            ul(class="filter_list")
              li
                label
                  input(type="checkbox" onclick="cbclick()" name="checkbox" id="checkbox")
                  | Kiireellinen        
      div(class="col-sm bg-warning")
        h3 Tehtävälista
        ul
          for item in tulevat
            div(class="card" style="width: 18rem;")
              div(class="card-body")
                h6
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task" maxlength="200")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty       
      div(class="col-sm bg-success")
        h3 Tekeillä olevat tehtävät
      div(class="col-sm bg-danger")
        h3 Valmiit tehtävät
        div(class="btn-group")
        ul
          for item in nykyiset
            div(class="card")
              div(class="card-body")
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty
      div(class="col-sm bg-danger")
        ul
          for item in tehdyt
            div(class="card")
              div(class="card-body")
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty

                
      

          

  

