extends layout

block content
  h1(class="otsikko") Tehtävälista
  script.
  h1= title
  div(class="container.fluid")
    div(class="row")
      div(class="col-sm col1")
        h3 Syötä tehtävä
        form(method="post",action="/addtask")
          div(class="form_area")
            input(type="hidden" name="divide" value=1)
            input(type="text" placeholder="Tehtävä", name="task" required maxlength="200")
            textarea(name="textarea" rows=3 placeholder="Lisätiedot" maxlength="500")
          div(class="select_box_area")
            input(type="checkbox" onclick="cbclick()" name="checkbox" id="checkbox")
            | Kiireellinen
      div(class="col-sm col-1")
        h3 Tehtävälista
          for item in tulevat
            div(class="card" style="width: 18rem;")
              div(class="card-body")
                h6
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task" maxlength="200")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty       
        div(class="btn-group")
          h3(class="kolumniotsikko") Kesken
          for item in nykyiset
            div(class="card")
              div(class="card-body")
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty
      div(class="col-sm col-1")
        h3(class="kolumniotsikko") Valmiit
          for item in tehdyt
            div(class="card")
              div(class="card-body")
                =item.task + item.textarea + item.checkbox
              div(class="card-footer")
                div(class="btn-group")
                  button(type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown") Muokkaa
                  ul(class="dropdown-menu p-4")
                    form(method="post" action="/edit")
                      p=item.task
                      div(class="form-group")
                        label(for="taskName") Tehtävä:
                        input(type="text" placeholder="Tehtävä" name="task")
                        input(type="hidden", name="id", value=item.id)
                        input(type="hidden" value=item.checkbox name="checkbox")
                        input(type="hidden", name="divide", value=item.divide)
                      div(class="form-group")
                        label(for="taskDescription") Kuvaus
                        textarea(rows=3 name="textarea")
                      div(class="form-group")
                        button(type="submit" class="btn btn-secondary") Tallenna
                  button(type="button" class="btn btn-secondary") 
                    a(href="http://localhost:3000/delete?id=" + item.id) Poista
                  form(method="post" action="/working")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=2)
                    button(type="submit" class="btn btn-secondary") Kesken
                  form(method="post" action="/done")
                    input(type="hidden" name="task" value=item.task)
                    input(type="hidden" name="id" value=item.id)
                    input(type="hidden" value=item.checkbox name="checkbox")
                    input(type="hidden" value=item.textarea name="textarea")
                    input(type="hidden", name="divide", value=3)
                    button(type="submit" class="btn btn-secondary") Tehty

                
      

          

  

